:root{
    font-size: 20px;
}

#potato{
    width: 50vw;
    height: 100vh;
    background: green;
    border: 10px solid black;
    border-radius: 0 50% 50% 0px;
    margin-left: 25px;
    box-sizing: border-box;
    color: red;
    transition: all .5s ease;
}

#children{
    background: yellow;
    width: 200px;
    height: 200px;
    padding: 25px;
}